<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Shomi | Netflix & Spotify Gratuit</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>

  <body>

<%= render 'jumbotron1' %>
<%= render 'flash' %>
<%= render 'menu' %>
<%= render 'boutique' %>
<%= render 'video' %>
<%= render 'questions' %>
<%= render 'earn' %>
<%= render 'footer' %>
<%= yield %>

<%= yield %>
</body>
</html>