<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Abonnements Journaux Gratuit | Shomi</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>

  <body>

<%= render 'jumbotron3' %>
<%= render 'visitor/flash' %>
<%= render 'visitor/menu' %>
<%= render 'boutique' %>
<%= render 'visitor/video' %>
<%= render 'visitor/questions' %>
<%= render 'visitor/earn' %>
<%= render 'visitor/footer' %>
<%= yield %>

</body>
</html>